/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo');


.App {
    min-height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Monospace; 
    margin: 0; 
    padding: 0; 
    justify-content: center; 
    background-image: url('./images/pixelcut-export (1).jpeg'), radial-gradient(ellipse at bottom, #000000 0%, #0c0d13 100%); 
    background-size: cover, cover; 
    background-repeat: no-repeat, no-repeat; 
    background-position: center, top; 
}

.heading {
    font-family: "Cairo";
    text-align: center;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    letter-spacing: 1px;
    line-height:1;
    background-image: url(https://media.giphy.com/media/l4FGnZ5NlHuvHfthm/giphy.gif?cid=790b7611xlodjiwnx79ybzps81fm3ox6emot65r7rizmiz70&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 2.5rem; 
}

.container {
    background: white; 
    border-radius: 15px; 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
    padding: 30px;
    width: 90%;
    max-width: 750px; 
    position: relative;
    z-index: 2;
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.input-container {
    position: relative; 
    margin: 0; 
}

.dollar-icon {
    position: absolute; 
    left: 10px; 
    top: 55%;
    transform: translateY(-50%);
    font-size: 1.1rem; 
    color: #000000; 
    font-weight: bold;
    font-family: Monospace;
}

input {
    width: 100%;  
    max-width: 220px; 
    height: 50px; 
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 1rem; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
    font-family: Monospace;
    font-weight: bold;
}

.input-label {
    position: absolute;
    left: 10px; 
    top: 10px;
    font-size: 0.75rem;
    color: #999;
    pointer-events: none;
    font-family: Monospace;
}

.currency-input, .currency-input2 {
    position: relative;
    width: 100%;
    max-width: 220px; 
    margin: 0;
}

.custom-dropdown, .custom-dropdown2 {
    width: 100%; 
    max-width: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    appearance: none;
    height: 40px;
    padding-top: 20px;
}

.custom-dropdown::before {
    content: 'From';
    position: absolute;
    top: 5px; 
    left: 10px; 
    color: #999;
    font-size: 0.75rem;
    pointer-events: none; 
    z-index: 1;
    font-family: Monospace;
}

.custom-dropdown2::before{
    content: 'To';
    position: absolute;
    top: 5px; 
    left: 10px; 
    color: #999;
    font-size: 0.75rem;
    pointer-events: none; 
    z-index: 1;
    font-family: Monospace;
}

.custom-dropdown .Dropdown-placeholder,
.custom-dropdown .Dropdown-control, .custom-dropdown2 .Dropdown-placeholder, .custom-dropdown2 .Dropdown-control {
    position: relative;
}

.custom-dropdown .Dropdown-control, .custom-dropdown2 .Dropdown-control {
    border: none; 
    box-shadow: none; 
}

.custom-dropdown .Dropdown-menu, .custom-dropdown2 .Dropdown-menu {
    border: none; 
    box-shadow: none; 
}

.custom-dropdown .Dropdown-control:not(:empty) + .custom-dropdown::before, 
.custom-dropdown2 .Dropdown-control:not(:empty) + .custom-dropdown2::before {
    display: none;
}

.input-container,.currency-input,.switch,.currency-input2{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.switch {
    cursor: pointer;
}

.result {
    box-sizing: border-box;
    width: 100%; 
    max-width: 800px;
    padding-left: 30px;
}

.button-container {
    width: 100%; 
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}

button {
    background-image: linear-gradient(to right, #BA8B02 0%, #614b4b 51%, #BA8B02 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    font-family: Monospace;
    font-size: 1rem;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border-color: transparent;
    display: block;
}

button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}


@media (max-width: 768px) {
    .heading {
        font-size: 2rem; 
    }

    .container {
        width: 80%;
        padding: 20px;
        margin-left: 20px;
    }

    button {
        font-size: 0.9rem; 
        padding: 10px 25px;
    }

    .result {
        width: 100%; 
    }
    .live-rates {
        margin: 10px; 
        padding: 15px;
        width: 100%; 
        max-width: 750px; 
        box-sizing: border-box; 
    }

}


@media (max-width: 480px) {
    .heading {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding: 8px 20px;
        font-size: 0.8rem;
    }
    
}

p {
    font-size: 1.5rem;
    font-family: Monospace;
    text-align: center;
}

.converter {
    position: relative;
    z-index: 10;
}

.live-rates {
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 10px; /* Gornja margina, leva i desna margina */
    transition: background-color 0.3s ease; 
    width: calc(100% - 20px); /* Oduzmi margine od ukupne širine */
    max-width: 750px; 

}

.live-rates h2 {
    font-size: 24px; 
    color: #7e6f1e; 
    margin-bottom: 15px; 
    text-align: center; 
}

.live-rates ul {
    list-style-type: none; 
    padding: 0; 
}

.live-rates li {
    font-size: 18px; 
    color: #555; 
    padding: 8px; 
    border-bottom: 1px solid #eee; 
    transition: background-color 0.3s ease; 
}

.live-rates li:hover {
    background-color: #f1f1f1;
}

.live-rates li:nth-child(3n + 1){
    background-color: #ffeb80;
} /* 1, 4, 7, ... */
.live-rates li:nth-child(3n) { /* 2, 5, 8, ... */
    background-color: #806C00;
    color: black; /* Boja za 1. i 2. */
}

.live-rates li:nth-child(3n+2) { /* 3, 6, 9, ... */
    background-color: #ffd700; /* Boja za 3. */
}

